* {
    box-sizing: border-box;
}

@font-face {
    @font-face {
        font-family: "TT Lakes";
        src: url(../fonts/TTLakes-Thin.woff);
    }
}

body {
    background-color:#C4C4C4;
    font-family: "TT Lakes";
}

.conteiner {
    max-width: 1200px;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.search-input {
    width: 501px;
    height: 61px;
    font-size: 48px;
}

.profile {
    width: 503px;
    height: 101px;
    border: 1px solid #000000;
    font-size: 24px;
    background-color:  #E27BEB;
    display: flex; 
    flex-direction: column;
}

.search-text {    
    display: flex;
    justify-content: space-between
}



.delete-btn {
    margin-left: 80%;
    margin-top: -70px;
    margin-right: 10px;
    padding-top: 60px;
    border: none;
    background-color:  #E27BEB;
    background-image: url("../icons/icons8-удалить-60.svg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

.delete-btn:hover {
    transform: scale(1.1);
}
